body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.hoverable :hover {
	overflow: hidden;
	background: #B1A0E8;
	border-radius: 8px;
}

div.navbar {
	border-radius: 0px !important;
	margin: 0px !important;

	position: fixed;
	left: 0px;
	top: 0px;
	border: 0px;

	text-align: center;

	width: 100%;
	background: #361895;
	color: #fff;

	z-index: 5;
}
.homepage_link {
	color: white;
}
.homepage_link:hover {
	color: white;
	text-decoration: none;
}
.homepage_link:active {
	color: white;
	text-decoration: none;
}

div.footer {
	clear: both;
}

img.thumbnail_pic {
	width: 90%;
	margin: 5px auto;
	display: block;
}