body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.hoverable :hover {
	overflow: hidden;
	background: #B1A0E8;
	border-radius: 8px;
}

.blacktext {
	color: black;
}

nav.navbar {

	span.white-text {
		color: white;
		margin: 0px 10px;
		padding: 10px 0px;
	}

	// Positioning stuff

	.navbarLeft {
		float: left;
	}

	.navbarRight {
		margin: 20px;
		float: right;
	}

	.navbarCenter {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.plain_white_link {
	color: white;
	text-decoration: none;

	&:hover {
		color: white;
		cursor: pointer;
		text-decoration: underline;
	}

	&:active {
		color: white;
		cursor: pointer;
		text-decoration: underline;
	}

	&:focus {
		color: white;
		cursor: pointer;
		text-decoration: underline;
	}
}

div.footer {
	clear: both;
}

div.welcome {
	padding:50px;
	text-align:center;
}

div.spacertop {
	padding:15px;
}

div.spacerbottom {
	padding:10px;
}

img.thumbnail_pic {
	width: 90%;
	margin: 5px auto;
	display: block;
}
