body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.hoverable :hover {
	overflow: hidden;
	background: #B1A0E8;
	border-radius: 8px;
}

.blacktext {
	color: black;
}

div.navbar {

	border-radius: 0px !important;
	margin: 0px !important;

	position: fixed;
	left: 0px;
	top: 0px;
	border: 0px;

	/*text-align: center;*/

	width: 100%;
	background: #361895;
	color: #fff;

	z-index: 5;

	a {
		.plain_white_link;
		margin: 5px; 
	}

	h3 {
		display: inline-block;
		margin: 13px;
	}

	i {
		display: inline-block;
	}

	// Positioning stuff

	.navbarLeft {
		float: left;
	}

	.navbarRight {
		margin: 20px;
		float: right;
	}

	.navbarCenter {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	// Login panel
	.LoginPanel {
		@login_btn_background: #23115D;
		input[type="submit"] {
			background-color: @login_btn_background;
			border-color: (@login_btn_background + #555);
		}

		input[type="text"] { 
			.blacktext;
		}
		input[type="password"] {
			.blacktext;
		}
	}
}

.plain_white_link {
	color: white;
	text-decoration: none;

	&:hover {
		color: white;
		cursor: pointer;
		text-decoration: underline;
	}

	&:active {
		color: white;
		cursor: pointer;
		text-decoration: underline;
	}

	&:focus {
		color: white;
		cursor: pointer;
		text-decoration: underline;
	}
}

.homepage_link {
	.plain_white_link;

	// &:hover {
	// 	.plain_white_link;
	// }

	// &:active {
	// 	.plain_white_link;
	// }

	// &:focus {
	// 	.plain_white_link;
	// }
}

div.footer {
	clear: both;
}

div.welcome {
	padding:50px;
	text-align:center;
}

div.spacertop {
	padding:15px;
}

div.spacerbottom {
	padding:10px;
}

img.thumbnail_pic {
	width: 90%;
	margin: 5px auto;
	display: block;
}
